mixin menu (items) 
   nav 
      .hamburger
         span
      ul.nav 
         for item in items 
            li.ms-5 
               a.py-2.text-uppercase.text-decoration-none(href=item.url) #{item.name} 

mixin figureTop (item) 
   figure(class="card cardTop " + item.class)
      figcaption 
         picture.card-img-top 
            source(srcset=item.src + ".webp" type="image/webp") 
            source(srcset=item.src + ".png" type="image/png") 
            img(src=item.src + ".png" alt=item.alt) 
         p.card-subtitle.c333.title= item.title
         h3.price.card-title.m-0= item.price + " грн*"
         p.card-text.text-start.c999.description= item.description

mixin figureMiddle (item) 
   figure(class="card cardMiddle " + item.class)
      picture.card-img-top.pic 
         source(srcset=item.src + ".webp" type="image/webp") 
         source(srcset=item.src + ".jpg" type="image/jpg") 
         img(src=item.src + ".jpg" alt=item.alt) 
      figcaption.cardMiddleBody 
         p.c333.title= item.title
         p.c999.card-text.description= item.description
         .d-flex.justify-content-between
            h3.price.card-title.m-0= item.price + " грн"
            a.aYellow.my-4(href="#") замовити
               span.arrow

mixin figureBottom (item) 
   figure.card.cardBottom.text-start  
      figcaption 
         picture.card-img.pic                         
            source(srcset=item.src + ".webp" type="image/webp") 
            source(srcset=item.src + ".jpg" type="image/jpg") 
            img(src=item.src + ".jpg" alt=item.alt) 
         .card-img-overlay
            .d-flex.gap-3
               .paper.flex-shrink-0
               .file
                  p.card-title.title= item.title
                  p.cbbb= "Розмір файла: " + item.size
            p.c_fefefe.card-text.description= item.description
            a.btn.rounded-pill.btn.rounded-pill.ctaBottom.mt-4(href="#") скачати
               span.cloud