mixin menu (items) 
   nav 
      .hamburger
         span
      ul.nav 
         for item in items 
            li.ms-5 
               a.py-2.text-uppercase.text-decoration-none(href=item.url) #{item.name} 

mixin figureTop (item) 
   figure.card.cardTop 
      figcaption.card-body 
         picture.card-img-top 
            source(srcset=item.src + ".webp" type="image/webp") 
            source(srcset=item.src + ".png" type="image/png") 
            img(src=item.src + ".png" alt=item.alt) 
         p.card-subtitle.title= item.title
         h2.card-title= item.price
            i.currency  грн*
         p.card-text.description= item.description

mixin figureMiddle (item) 
   figure.card.cardMiddle 
      picture.card-img-top.pic 
         source(srcset=item.src + ".webp" type="image/webp") 
         source(srcset=item.src + ".jpg" type="image/jpg") 
         img(src=item.src + ".jpg" alt=item.alt) 
      figcaption.card-body 
         p.title= item.title
         p.card-text.description= item.description
         h2.card-title= item.price
            i.currency  грн*
         a.aYellow(href="#") замовити
            span.arrow

mixin figureBottom (item) 
   figure.card.cardBottom 
      figcaption.card-body 
         picture.card-img.pic                         
            source(srcset=item.src + ".webp" type="image/webp") 
            source(srcset=item.src + ".jpg" type="image/jpg") 
            img(src=item.src + ".jpg" alt=item.alt) 
         .card-img-overlay
            p.card-title.title= item.title
            p= "Розмір файла: " + item.size
            p.card-text.description= item.description
               i.currency  грн*
            a.btn.rounded-pill.btn.rounded-pill.ctaBottom(href="#") скачати
               span.cloud