mixin menu (items) 
   nav 
      .hamburger
         span
      ul.nav 
         for item in items 
            li.m-3 
               a.text-white.text-uppercase.text-decoration-none(href=item.url) #{item.name} 

mixin figureTop (item) 
   figure.cardTop 
      figcaption 
         picture 
            source(srcset=item.src + ".webp" type="image/webp") 
            source(srcset=item.src + ".png" type="image/png") 
            img(src=item.src + ".png" alt=item.alt) 
         p.title= item.title
         h2= item.price
            i.currency  грн*
         p.description= item.description

mixin figureMiddle (item) 
   figure.cardMiddle 
      figcaption 
         picture.pic 
            source(srcset=item.src + ".webp" type="image/webp") 
            source(srcset=item.src + ".png" type="image/png") 
            img(src=item.src + ".png" alt=item.alt) 
         p.title= item.title
         p.description= item.description
         h2= item.price
            i.currency  грн*
         a.btn.rounded-pill.btn.rounded-pill-outline-warning.cta.ctaSmall(href="#") замовити
            span.arrow

mixin figureBottom (item) 
   figure.cardBottom 
      figcaption 
         picture                         
            source(srcset="img/paper.webp", type="webp")
            source(srcset="img/paper.png", type="png")
            img(src="img/paper.png", alt="paper")
         p.title= item.title
         p= "Розмір файла: " + item.size
         p.description= item.description
            i.currency  грн*
         a.btn.rounded-pill.btn.rounded-pill-outline-warning.cta.ctaSmall(href="#") скачати
            span.cloud